/* ESTILOS GENERALES */

body {
  background-color: #ffffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
}

/* ESTILOS CONTACTO */

.form-main {
  min-height: 100vh;
  background: linear-gradient(
    #e7e4e4,
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    #e7e4e4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1-contact {
  text-align: center;
}

.logo-contact {
  height: 300px;
  color: #000;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  animation: float 6s ease-in-out infinite;
  -webkit-animation: float 6s ease-in-out infinite;
}

.form-style {
  background-color: #000000;
  color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 3rem;

  .asunto {
    padding-bottom: 5rem;
  }
  
}


.form-style p {
  text-align: center;
}

.button {
  background-color: #818181;
  color: #ffffff;
  padding: 0.5rem;
  border: none;
}

.button:hover {
  background: #ffffff;
  color: #818181;
}

/* ESTILOS SOBRE NOSOTROS */

.main-sobre-nos {
  background: linear-gradient(
    #e7e4e4,
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    #e7e4e4);
  height: 100vh;
  background-color: #ffffff;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.div-sobre {
  color: #ffffff;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin: 1rem 3rem;
  padding: 1rem 3rem;
  border-radius: 1.4rem;
  -webkit-border-radius: 1.4rem;
  -moz-border-radius: 1.4rem;
  -ms-border-radius: 1.4rem;
  -o-border-radius: 1.4rem;
}

.text-sobre-nos {
  text-align: center;

}

.caja-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-sobre-nos {
  max-width: 17rem;
  color: #000;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  animation: float 6s ease-in-out infinite;
  -webkit-animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
  50% {
    transform: translatey(-50px);
    -webkit-transform: translatey(-50px);
    -moz-transform: translatey(-50px);
    -ms-transform: translatey(-50px);
    -o-transform: translatey(-50px);
  }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}

/* COMO COMPRAR*/


.main-como-comprar {
  background: linear-gradient(
    #e7e4e4,
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    #e7e4e4);
  height: 100vh;
  background-color: #ffffff;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.div-como {
  color: #ffffff;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1.4rem;
  -webkit-border-radius: 1.4rem;
  -moz-border-radius: 1.4rem;
  -ms-border-radius: 1.4rem;
  -o-border-radius: 1.4rem;
}

.text-como-comprar {
  text-align: center;
}

.caja-logo-comprar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-como-comprar {
  max-width: 17rem;
  color: #000;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  animation: float 6s ease-in-out infinite;
  -webkit-animation: float 6s ease-in-out infinite;
}

/* MEDIA QUERY PARA mobile */

@media screen and (min-width: 320px) and (max-width: 700px) {
  .container-padre-main {
    height: max-content;
  }

  .footer-content {
    padding: 0.5rem;
  }

  .form-style {
    margin: 0;
  }
}
/*mq tablet*/

@media screen and (min-width: 701px) and (max-width: 992px) {
  .container-padre-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .div-content {
    width: 350px;
  }

  .main-productos {
    
    .cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .logo-sobre-nos {
    max-width: 25rem;
  }

  .logo-como-comprar {
    max-width: 25rem;
  }

  .form-style {
    padding: 5rem;
  }
}

/* MEDIA QUERY PARA ESCRITORIO */

@media screen and (min-width: 992px) {
  /* MAIN INDEX */

  .container-padre-main {
    height: 100vh;
  }

  .container-padre-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;


  }

  /* CONTACTO */

  .form-main {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  .h1-contact {
    text-align: center;
    margin-top: 1.7rem;
  }

  .logo-contact {
    place-self: center;
  }

  /* SOBRE NOSOTROS */

  .main-sobre-nos {
    grid-template-columns: repeat(2, 1fr);
  }

  .div-sobre {
    padding: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .text-sobre-nos {
    width: 80%;
    font-size: 18px;
  }

  .logo-sobre-nos {
    max-width: 25rem;
  }

  /*COMO COMPRAR*/
  .main-como-comprar {
    grid-template-columns: repeat(2, 1fr);

    .div-como {
      padding: 2rem;
      margin-left: 3rem;
      margin-right: 3rem;
    }
  }

  

  .text-como-comprar {
    width: 80%;
    font-size: 18px;
  }

  .logo-como-comprar {
    max-width: 25rem;
  }


  /* Pruductos */
  .main-productos {
    
    .cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }


  /*FOOTER */

  .footer-content {
    grid-template-columns: repeat(3, 1fr);

    .redes {
      gap: 3rem;
    }

    .copy {
      margin: 0 1rem;
    }
  }
}


@media screen and (min-width: 1300px) {
  .container-padre-section {
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
  }

  /*Productos*/
  .main-productos {
    
    .cards {
      grid-template-columns: repeat(4, 1fr);
    }
}
}