// parametros image

@mixin h1-main {
  color: #ffffff;
  text-align: center;
  letter-spacing: .5rem;
  box-shadow: 1px 1px 3px;
  text-transform: uppercase;
  margin: 2rem 0;
  

}

@mixin container-main {
  width: 100%;
  display: grid;
  place-items: center;
  background-image: url(../images/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, .5);
  background-blend-mode: soft-light;
}
