/* ESTILOS MAIN */

.img-main {
  @include image-main;
}

.container-padre-main {
  @include container-main;
}

.container-padre-section {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .div-content {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 300px;
    width: 270px;
    margin: 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;

  }
}
.image-uno {
  background: url(../../images/Morral.JPG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, .2);
  background-blend-mode: soft-light;
  
}
.image-dos {
  background: url(../images/remera-dos.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, .2);
  background-blend-mode: soft-light;
}
.image-tres {
  background: url(../images/camperas-nike-beige.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, .2);
  background-blend-mode: soft-light;
}
.image-cuatro {
  background: url(../images/pantalon.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, .2);
  background-blend-mode: soft-light;
}




.a-div:hover {
  background-color: #000;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.p-div {
  width: 60%;
  color: #ffffff;
}

.h2-prendas {
  color: #ffffff;
}
